on:
    push:
        branches:
            - main
            - beta
            - dq-poc
        paths:
            - "**"
            - "!**.md"
            - "!images/**"
            - "!**.png"

jobs:
    build:
        runs-on: ubuntu-latest
        concurrency:
            group: ${{ github.workflow }}-${{ github.ref }}
            cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
        timeout-minutes: 20
        steps:
            - uses: actions/checkout@v4.0.0
              with:
                  fetch-depth: 0

            - name: Get branch name
              run: echo "branch=${GITHUB_REF#refs/heads/}" >> $GITHUB_OUTPUT
              id: get_branch

            - run: echo "REPOSITORY_NAME=`echo "$GITHUB_REPOSITORY" | awk -F / '{print $2}' | sed -e "s/:refs//"`" >> $GITHUB_ENV
              shell: bash

            - name: Get version tag
              run: echo "version=$(echo `git ls-remote https://github.com/${GITHUB_REPOSITORY_OWNER}/${REPOSITORY_NAME}.git ${{ steps.get_branch.outputs.branch }} | awk '{ print $1}' | cut -c1-7`)abcd" >> $GITHUB_OUTPUT
              id: get_version

            - name: Lowercase branch name
              run: echo "lowercase_branch=$(echo '${{ steps.get_branch.outputs.branch }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_OUTPUT
              id: get_lowercase_branch

            - name: Copy root Dockerfile into dq_poc
              run: cp Dockerfile ./quickstart/dq_poc/Dockerfile

            - name: Set up Buildx
              id: buildx
              uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0 https://github.com/docker/setup-buildx-action/releases/tag/v3.10.0

            - name: Login to GitHub Registry
              uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0 https://github.com/docker/login-action/releases/tag/v3.4.0
              with:
                  registry: ghcr.io
                  username: $GITHUB_ACTOR
                  password: ${{ secrets.ORG_PAT_GITHUB }}

            - name: Build and push dq_poc docker image
              id: ghcr_docker_build
              uses: docker/build-push-action@1dc73863535b631f98b2378be8619f83b136f4a0 # v6.17.0 https://github.com/docker/build-push-action/releases/tag/v6.17.0
              with:
                  context: ./quickstart/dq_poc
                  file: ./quickstart/dq_poc/Dockerfile
                  push: true
                  platforms: linux/amd64,linux/arm64
                  tags: |
                      ghcr.io/${{ github.repository_owner }}/atlan-sample-apps-dq-poc-${{ steps.get_lowercase_branch.outputs.lowercase_branch }}:latest
                      ghcr.io/${{ github.repository_owner }}/atlan-sample-apps-dq-poc-${{ steps.get_lowercase_branch.outputs.lowercase_branch }}:${{ steps.get_version.outputs.version }}
              env:
                  DOCKER_CLIENT_TIMEOUT: 600
                  COMPOSE_HTTP_TIMEOUT: 600
